<!DOCTYPE html>
<html>
<head>
  <title>Planner</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload'%>

</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <h3 class="mt-4" id="current-date"><%= @current_date %></h3>

      <% if user_signed_in? %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= button_to "Sign in", new_user_session_path %>
      <% end %>
    </div>
  </nav>

  <div class="container-fluid">
    <ul class="nav nav-pills my-3">
      <% @days_of_week.each_with_index do |day, index| %>
        <li class="nav-item text-center">
          <a class="nav-link link-success" href="#" onclick="loadSchedule('<%= index %>')">
            <%= day %> <br>
            <small><%= @dates_of_week[index] %></small> <!-- Отображение даты под названием дня недели -->
          </a>
        </li>
      <% end %>
    </ul>
    <div id="schedule-container">
      <p>Выберите день недели, чтобы увидеть расписание и добавить задачи.</p>
    </div>
  </div>

  <script>
    function loadSchedule(day) {
      fetch(`/home/show_schedule/${day}`)
        .then(response => response.text())
        .then(html => {
          document.getElementById("schedule-container").innerHTML = html;
        });
    }

    function saveTasks(day) {
      const tasks = {};
      document.querySelectorAll('.task-input').forEach(input => {
        tasks[input.dataset.time] = input.value;
      });

      fetch(`/home/save_schedule/${day}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': '<%= form_authenticity_token %>'
        },
        body: JSON.stringify({ tasks: tasks })
      })
      .then(response => response.text())
      .then(result => {
        alert("Задачи сохранены!");
      });
    }
  </script>
</body>
</html>
